<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="common/head :: head"></div>

<body>

<div th:replace="common/header :: header"></div>

<div class="layui-fulid" id="house-login">
  <div class="layui-form">
    <p>手机号登录</p>
    <div class="layui-input-block login">
    <i class="layui-icon layui-icon-house-mobile"></i>
    <input type="text" name="username" required lay-verify="required" placeholder="请输入手机号" class="layui-input">
  </div>
    <div class="layui-input-block login">
      <i class="layui-icon layui-icon-house-mobile"></i>
      <input type="text" name="password" required lay-verify="required" placeholder="请输入手机号" class="layui-input">
    </div>

    <div class="layui-input-block getCode">
      <input type="text" required lay-verify="required" placeholder="请输入短信验证码" class="layui-input">
      <button class="layui-btn">获取验证码</button>
    </div>
    <button class="layui-btn" lay-submit lay-filter="user-login">登录</button>
  </div>
</div>


<div th:replace="common/footer :: footer"></div>

</body>
</html>